.item{
    background: rgb(22, 110, 22);
    margin: 5px;
    font-size: 20px;
    text-align: center;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.coluna{
       display:grid;
       grid-template-columns: 1fr 1fr;
}


.linha{
   grid-template-rows: 300px 300px 300px 300px 300px;

}
.foto{
    border:2px solid rgb(0, 255, 64);
    width: 150px;
    margin-top: 10px;
}