.painel {
    background-color: brown;
    min-height:400px;
    border-radius: 10px;
    padding-top:0px;
    text-align: center;

}


#tela {
    margin:auto;
    border:15px solid rgb(red, green, blue);
    width:300px ;
    height:260px;
    margin-bottom: 5 ;

}
img{
    height:200px;
    margin:20px;
    border-radius: 5px;
}

button{
    background-color: blueviolet;
}
    input{
        background-color: cadetblue;
        border-radius: 5px;
        border: 2px solid black;
    }
    ul{
        list-style: none;
    }