.painel{
    border: 1px solid black;
    height: 300px;                  /*altura*/
    width: 600px;                  /*largura*/
    border-radius:  10px;          /*arredondar*/
    box-shadow: 1px 1px 10px black;
    margin: 100px auto;            /*100px altura + centraliza*/
    font-size: 60px;
    text-align: center;
    font-family: fantasy;
    
    background-image: linear-gradient(rgb(217, 217, 228),blue);

}

body{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#relogio{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 50%;
    position: relative;
    margin: 50px auto;
}

#ponteiroHora{
    background-color: black;
    position: absolute;
    transform-origin: bottom center;
    width: 6px;
    height: 60px;
    top: 35px;
    left: 97px;

}
#ponteiroMin{
    background-color: yellow;
    position: absolute;
    transform-origin: bottom center;
    width: 4px;
    height: 90px;
    top:  15px;
    left: 98px;

}
#ponteiroSeg{
    background-color: red;
    position: absolute;
    transform-origin: bottom center;
    width: 1px;
    height: 100px;
    top: 5px;
    left: 98px;
}