#gameCanvas{
    border: 1px solid black;
    width: 800px;
    height: 600px;
}

.painel{
    width: 800px;
    height: 600px;
    margin: 40px auto;
    text-align: center;

}
#ponto{
    color: green;
    font-family: fantasy;
    font-size: 30px;
    margin: 0;
}

.gameover{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 9999;
    display: none;
}
.mensagemGameover{
    font-family:  fantasy;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    animation: piscar 4s alternate infinite;
}
@keyframes piscar{
    0%{color: white;}
    100% {color: red;}
}
button{
    background-color: green;
    color: white;
    border-radius: 5px;
    padding: 5px;
}

button:hover{
    background-color: darkgreen;
}
